<p id="notice"><%= notice %></p>

<h1>Listing Sms Messages</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Event time</th>
      <th>Sms content</th>
      <th>Sms sender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sms_messages.each do |sms_message| %>
      <tr>
        <td><%= sms_message.event_time %></td>
        <td><%= sms_message.sms_content %></td>
        <td><%= sms_message.sms_sender %></td>
        <td><%= link_to 'Destroy', sms_message, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>