<p id="notice"><%= notice %></p>

<h1>Sms History</h1>

<table class="table table-striped fixwrapped">
  <thead>
    <tr>
      <th style="width:10%">Sender</th>
      <th style="width:15%">Date</th>
      <th style="width:40%">Message</th>
      <th style="width:10%">Folder</th>
      <th style="width:15%">User</th>
      <th style="width:10%"></th>
    </tr>
  </thead>

  <tbody>
    <% @sms_messages.each do |sms_message| %>
      <tr>
        <td><%= sms_message.sms_sender %></td>
        <td><%= format_date sms_message.sms_date %></td>
        <td><%= sms_message.sms_content %></td>
        <td><%= sms_message.sms_folder %></td>
        <td><%= sms_message.username %></td>
        <td><%= link_to 'Destroy', sms_message, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>