<p id="notice"><%= notice %></p>

<h1>Listing People</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Alt phone</th>
      <th>Google</th>
      <th>Facebook</th>
      <th>Twitter</th>
      <th>Whitelist</th>
      <th>Image</th>
      <th>Gender</th>
      <th>Identifier</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.phone %></td>
        <td><%= person.alt_phone %></td>
        <td><%= person.google %></td>
        <td><%= person.facebook %></td>
        <td><%= person.twitter %></td>
        <td><%= person.whitelist %></td>
        <td><%= person.image %></td>
        <td><%= person.gender %></td>
        <td><%= person.identifier %></td>
        <td><%= person.notes %></td>
        <td><%= link_to 'Show', person %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path %>
