<h1>Interactions</h1>

<%= form_tag interactions_path, :method => 'get', :id => "products_search" do %>
  <p>
<<<<<<< HEAD
                <%= label_tag :selections, "Between:"  %>
    <%= collection_select :selections, :username, @usernames, :username, :name , {include_blank: "<all>", selected: @username}  %>
                <%= label_tag :interactee, "And:"  %>

    <%= collection_select :selections, :interactee, @interactees, :number, :name, {include_blank: false, selected: @number}  %>
=======
                <%= label_tag :call, "Between:"  %>
    <%= collection_select :selections, :username, @usernames, :username, :username, {include_blank: false, selected: @username}  %>
                <%= label_tag :interactee, "And:"  %>
    <%= collection_select :selections, :number, @numbers, :number, :number, {include_blank: false, selected: @number}  %>
>>>>>>> GUI beginnings for calls and interactions
<div class="container">
    <div class='col-md-5'>
                <%= label_tag :fromdate, "From:"  %>
                <%= text_field_tag :fromdate, id:"fromdate", value: @fromdate_str %>
    </div>
    <div class='col-md-5'>
                <%= label_tag :todate, "To:"  %>
                <%= text_field_tag :todate, id:"todate", value: @todate_str %>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#fromdate').datetimepicker({
            locale: "en-gb"
        });
        $('#todate').datetimepicker({
            locale: "en-gb",
            useCurrent: false //Important! See issue #1075
        });
        $("#fromdate").on("dp.change", function (e) {
            $('#todate').data("DateTimePicker").minDate(e.date);
        });
        $("#todate").on("dp.change", function (e) {
            $('#fromdate').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
    <%= submit_tag "Filter", :name => nil %>
  </p>
<% end %>

<<<<<<< HEAD
    <% currentdate = DateTime.new(1970,01,01) %>

    <% @interactions.each do |interaction| %>


    <% if interaction.datetime.to_date != currentdate.to_date %>
      <% currentdate = interaction.datetime %>
      <div class="dateboundary"><%= currentdate.strftime("%a %d %b %Y")%></div>
    <% end %>

<div class="bubbleholder">

        <% if interaction.direction == "outgoing"%>
        <div class="timeindicator outgoingtime">
        <% else %>
        <div class="timeindicator incomingtime">
        <% end %>
        <%= interaction.datetime.strftime("%H:%M") %>
        </div>

    <% if interaction.type == "call"%>
        <% if interaction.direction == "outgoing"%>
          <div class="bubble callbubble outgoingbubble">
            <p><b> outgoing call</b></p>
        <% else %>
          <div class="bubble callbubble incomingbubble">
            <p><b>incoming call</b></p>
        <% end %>

        <%= roughtime(interaction.duration) %>
    </div>
    <% end %>

   <% if interaction.type == "sms"%>
        <% if interaction.direction == "outgoing"%>
          <div class="bubble smsbubble outgoingbubble">
        <% else %>
          <div class="bubble smsbubble incomingbubble">
        <% end %>

      <%= interaction.content %>
      </div>
      <% end %>
      </div>
<% end %>
=======


<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Number</th>
      <th>Type</th>
      <th>Duration</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= format_date call.event_time %></td>
        <td><%= call.call_number %></td>
        <td><%= call.call_type %></td>
        <td><%= call.call_duration %></td>
        <td><%= call.username %></td>
        <td><%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
    <% if @calls.empty? %>
        <td colspan=5><center><em>No entries found</em></center></td>
    <% end %>
  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Sender</th>
      <th>Date</th>
      <th>Message</th>
      <th>Folder</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sms_messages.each do |sms_message| %>
      <tr>
        <td><%= sms_message.sms_sender %></td>
        <td><%= sms_message.sms_date %></td>
        <td><%= sms_message.sms_content %></td>
        <td><%= sms_message.sms_folder %></td>
        <td><%= sms_message.username %></td>
        <td><%= link_to 'Destroy', sms_message, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
>>>>>>> GUI beginnings for calls and interactions
