<h1>Interactions</h1>

<%= form_tag interactions_path, :method => 'get', :id => "products_search" do %>
  <p>
                <%= label_tag :selections, "Between:"  %>
    <%= collection_select :selections, :username, @usernames, :username, :name , {include_blank: "<all>", selected: @username}  %>
                <%= label_tag :interactee, "And:"  %>

    <%= collection_select :selections, :interactee, @interactees, :number, :name, {include_blank: false, selected: @number}  %>
<div class="container">
    <div class='col-md-5'>
                <%= label_tag :fromdate, "From:"  %>
                <%= text_field_tag :fromdate, id:"fromdate", value: @fromdate_str %>
    </div>
    <div class='col-md-5'>
                <%= label_tag :todate, "To:"  %>
                <%= text_field_tag :todate, id:"todate", value: @todate_str %>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#fromdate').datetimepicker({
            locale: "en-gb"
        });
        $('#todate').datetimepicker({
            locale: "en-gb",
            useCurrent: false //Important! See issue #1075
        });
        $("#fromdate").on("dp.change", function (e) {
            $('#todate').data("DateTimePicker").minDate(e.date);
        });
        $("#todate").on("dp.change", function (e) {
            $('#fromdate').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
    <%= submit_tag "Filter", :name => nil %>
  </p>
<% end %>

    <% currentdate = DateTime.new(1970,01,01) %>

    <% @interactions.each do |interaction| %>


    <% if interaction.datetime.to_date != currentdate.to_date %>
      <% currentdate = interaction.datetime %>
      <div class="dateboundary"><%= currentdate.strftime("%a %d %b %Y")%></div>
    <% end %>

<div class="bubbleholder">

        <% if interaction.direction == "outgoing"%>
        <div class="timeindicator outgoingtime">
        <% else %>
        <div class="timeindicator incomingtime">
        <% end %>
        <%= interaction.datetime.strftime("%H:%M") %>
        </div>

    <% if interaction.type == "call"%>
        <% if interaction.direction == "outgoing"%>
          <div class="bubble callbubble outgoingbubble">
            <p><b> outgoing call</b></p>
        <% else %>
          <div class="bubble callbubble incomingbubble">
            <p><b>incoming call</b></p>
        <% end %>

        <%= roughtime(interaction.duration) %>
    </div>
    <% end %>

   <% if interaction.type == "sms"%>
        <% if interaction.direction == "outgoing"%>
          <div class="bubble smsbubble outgoingbubble">
        <% else %>
          <div class="bubble smsbubble incomingbubble">
        <% end %>

      <%= interaction.content %>
      </div>
      <% end %>
      </div>
<% end %>
