<p id="notice"><%= notice %></p>

<h1>Screen On/Off</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Event time</th>
      <th>Event type</th>
      <th>Username</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screens.each do |screen| %>
      <tr>
        <td><%= screen.event_time %></td>
        <td><%= screen.event_type %></td>
        <td><%= screen.username %></td>
        <td><%= link_to 'Destroy', screen, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
