<p id="notice"><%= notice %></p>

<h1>Listing Calls</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Call date</th>
      <th>Call number</th>
      <th>Call type</th>
      <th>Call duration</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calls.each do |call| %>
      <tr>
        <td><%= call.call_date %></td>
        <td><%= call.call_number %></td>
        <td><%= call.call_type %></td>
        <td><%= call.call_duration %></td>
        <td><%= call.username %></td>
        <td><%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
