<p id="notice"><%= notice %></p>

<h1>Call History</h1>

<%= form_tag calls_path, :method => 'get', :id => "products_search" do %>
  <p>

<div class="container">
    <div class='col-md-5'>
                <%= label_tag :fromdate, "From:"  %>
                <%= text_field_tag :fromdate, id:"fromdate", value: @fromdate_str %>
    </div>
    <div class='col-md-5'>
                <%= label_tag :todate, "To:"  %>
                <%= text_field_tag :todate, id:"todate", value: @todate_str %>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#fromdate').datetimepicker({
            locale: "en-gb"
        });
        $('#todate').datetimepicker({
            locale: "en-gb",
            useCurrent: false //Important! See issue #1075
        });
        $("#fromdate").on("dp.change", function (e) {
            $('#todate').data("DateTimePicker").minDate(e.date);
        });
        $("#todate").on("dp.change", function (e) {
            $('#fromdate').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
    <%= submit_tag "Filter", :name => nil %>
  </p>
<% end %>


<% @stats.each do |stat| %>
<div class="statsbox">

<%=stat[:desc].split("$").first %>
<div class="bignumber"><%=stat[:value] %></div>
<%=stat[:desc].split("$").last %>
</div>
    <% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>User</th>
      <th>Type</th>
      <th>Other</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calls_display.each do |call| %>
      <tr>

        <td><%= format_date call.event_time %></td>
        <td>
        <% if call.own_first_name.nil? %>
        <%= call.username %>
        <% else %>
        <%= call.own_first_name + " " + call.own_last_name %>
        <% end %>
        </td>

        <td>
        <% if call.call_type == "OUTGOING" %>
        <span class="glyphicon glyphicon-earphone"></span>
        <span class="glyphicon glyphicon-arrow-right"></span>
        <% elsif call.call_type == "INCOMING" %>
        <span class="glyphicon glyphicon-earphone"></span>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <% elsif call.call_type == "MISSED" %>
        <span class="glyphicon glyphicon-earphone"></span>
        <span class="glyphicon glyphicon-remove"></span>
        <% else %>
          <%= call.call_type %>
        <% end %>
        </td>


        <td>
        <% if call.other_first_name.nil? %>
        <%= call.call_number %>
        <% else %>
        <%= link_to (call.other_first_name + " "+ call.other_last_name), 'people/'+call.other_id.to_s %>
        <% end %>
        </td>

        <td><%= call.call_duration %></td>

        <td><%= link_to 'Destroy', call, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
    <% if @calls.empty? %>
        <td colspan=5><center><em>No entries found</em></center></td>
    <% end %>
  </tbody>
</table>

<br>
