<p id="notice"><%= notice %></p>

<p>
  <strong>Event time:</strong>
  <%= @call.event_time %>
</p>

<p>
  <strong>Call date:</strong>
  <%= @call.call_date %>
</p>

<p>
  <strong>Call number:</strong>
  <%= @call.call_number %>
</p>

<p>
  <strong>Call type:</strong>
  <%= @call.call_type %>
</p>

<p>
  <strong>Call duration:</strong>
  <%= @call.call_duration %>
</p>

<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
