
<% screenIsOn = false %>
<h1>Timelines</h1>

<%= form_tag timeline_path, :method => 'get', :id => "products_search" do %>
  <p>

<div class="container">
    <div class='col-md-5'>
                <%= label_tag :fromdate, "From:"  %>
                <%= text_field_tag :fromdate, id:"fromdate", value: @fromdate_str %>
    </div>
    <div class='col-md-5'>
                <%= label_tag :todate, "To:"  %>
                <%= text_field_tag :todate, id:"todate", value: @todate_str %>
    </div>
    <div class='col-md-9'>
      <div class="btn-group" data-toggle="buttons">

    <% @options.each do | key, value| %>

      <% if (value == '1' )%>
        <%= label_tag key, class: "btn btn-default active" do %>
        <%= check_box(:options, key, {checked: value == "1"}) %>
        <%= key %>
      <% end %>
    <% else %>
        <%= label_tag key, class: "btn btn-default" do %>
        <%= check_box(:options, key, {checked: value == "1"}) %>
        <%= key %>
      <% end %>
    <% end %>

    <% end %>

    </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#fromdate').datetimepicker({
            locale: "en-gb"
        });
        $('#todate').datetimepicker({
            locale: "en-gb",
            useCurrent: false //Important! See issue #1075
        });
        $("#fromdate").on("dp.change", function (e) {
            $('#todate').data("DateTimePicker").minDate(e.date);
        });
        $("#todate").on("dp.change", function (e) {
            $('#fromdate').data("DateTimePicker").maxDate(e.date);
        });
    });
</script>
    <%= submit_tag "Filter", :name => nil %>
  </p>
<% end %>

<div class ='col-xs-9'>
    <% currentdate = DateTime.new(1970,01,01) %>
    <% last_time = DateTime.now %>

    <% @Timelines.each do |timeline| %>

    <% if (timeline.datetime - last_time) > 60*60 %>
      <div class="bubbleholder centeralign">
      <div class="timeindicator">

    (no activity for <%= roughtime(timeline.datetime - last_time)  %>)
      </div>
      </div>
    <% end %>
    <% last_time = timeline.datetime %>

    <% if timeline.datetime.to_date != currentdate.to_date %>
      <% currentdate = timeline.datetime %>
      <div class="dateboundary"><%= currentdate.strftime("%a %d %b %Y")%></div>
    <% end %>


    <% if timeline.type == "call"%>
        <% if timeline.direction == "outgoing"%>
          <div class="bubbleholder rightalign">
        <% else %>
          <div class="bubbleholder leftalign">
        <% end %>
        <div class="timeindicator">
        <%= timeline.datetime.strftime("%H:%M") %>
        </div>

        <% if timeline.direction == "outgoing"%>
          <div class="bubble callbubble outgoingbubble">
            <p><span class="glyphicon glyphicon-earphone"></span> <b>outgoing call</b></p>
        <% else %>
          <div class="bubble callbubble incomingbubble">
            <p><span class="glyphicon glyphicon-earphone"></span> <b>incoming call</b></p>
        <% end %>
        <p>
<%= image_tag Identicon.data_url_for timeline.other, 20, [85, 0, 136] %>
        <%= timeline.other %></p>
        <p><%= roughtime(timeline.duration) %></p>
    </div>
    </div>
    <% end %>

   <% if timeline.type == "sms" %>
        <% if timeline.direction == "outgoing"%>
          <div class="bubbleholder rightalign">
        <% else %>
          <div class="bubbleholder leftalign">
        <% end %>
        <div class="timeindicator">
        <%= timeline.datetime.strftime("%H:%M") %>
        </div>
       <div class="bubble smsbubble">
      <p>
<%= image_tag Identicon.data_url_for timeline.other, 20, [88, 148, 66] %>
<b><%= timeline.other %></b></p>
      <p><%= timeline.content %></p>
      </div>
      </div>
    <% end %>

       <% if timeline.type == "whatsapp" %>
        <% if timeline.direction == "outgoing"%>
          <div class="bubbleholder rightalign">
        <% else %>
          <div class="bubbleholder leftalign">
        <% end %>
        <div class="timeindicator">
        <%= timeline.datetime.strftime("%H:%M") %>
        </div>
        <% if timeline.direction == "outgoing"%>
          <div class="bubble whatsappbubble outgoingbubble">
        <% else %>
          <div class="bubble whatsappbubble incomingbubble">
        <% end %>
      <p>
<%= image_tag Identicon.data_url_for timeline.other, 20, [67, 216, 84] %>
  <b><%= timeline.other %></b></p>
      <p><%= timeline.content %></p>
      </div>
      </div>
    <% end %>




       <% if timeline.type == "facebook" %>
        <% if timeline.direction == "outgoing"%>
          <div class="bubbleholder rightalign">
        <% else %>
          <div class="bubbleholder leftalign">
        <% end %>
        <div class="timeindicator">
        <%= timeline.datetime.strftime("%H:%M") %>
        </div>
        <% if timeline.direction == "outgoing"%>
          <div class="bubble facebookbubble outgoingbubble">
        <% else %>
          <div class="bubble facebookbubble incomingbubble">
        <% end %>
 <p>
<%= image_tag Identicon.data_url_for timeline.other, 20, [59, 89, 152] %>
      <b><%= timeline.other %></b></p>
      <p><%= timeline.content %></p>
      </div>
      </div>
    <% end %>

   <% if timeline.type == "app_unique"%>
        <div class="bubbleholder centeralign">
        <div class="timeindicator">
        <%= timeline.datetime.strftime("%H:%M") %>
        </div>
      <div class="bubble appbubble" style="background:#<%= timeline.color %>">
      <%= timeline.content %>
      </div>
      </div>
    <% end %>

   <% if timeline.type == "browser" %>
        <div class="bubbleholder centeralign">
        <div class="timeindicator">
        <%= timeline.datetime.strftime("%H:%M") %>
        </div>
       <div class="bubble browserbubble">
      <p><span class="glyphicon glyphicon-globe"></span><b><%= timeline.content %></b></p>
      <p><%= timeline.content %></p>
      </div>
      </div>
    <% end %>


   <% if timeline.type == "screen"%>

        <% if timeline.content == "On" and screenIsOn == false%>
          <div class="screenbubble">
          <% screenIsOn = true %>
        <% end %>
        <div class="timeindicator">
        <%= timeline.datetime.strftime("%H:%M") %>
          Screen <%= timeline.content %>
        </div>
        <% if timeline.content == "Off" and screenIsOn == true %>
          </div>
          <% screenIsOn = false %>
        <% end %>
    <% end %>
<% end %>

</div>