<p id="notice"><%= notice %></p>

<h1>Browser History</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Last visit</th>
      <th>Visit</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @browsers.each do |browser| %>
      <tr>
        <td><%= browser.title %></td>
        <td><%= link_to browser.url, browser.url, :target => "_blank" %></td>
        <td><%= browser.visit_date %></td>
        <td><%= browser.visit_total %></td>
        <td><%= browser.username %></td>
        <td><%= link_to 'Destroy', browser, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
