<p id="notice"><%= notice %></p>

<h1>Backup logs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Started</th>
      <th>Username</th>
      <th>Ref</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @backups.each do |backup| %>
      <tr>
        <td><%= backup.created_at %></td>
        <td><%= backup.username %></td>
        <td><%= backup.ref %></td>
        <td><%= link_to 'Destroy', backup, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
