<p id="notice"><%= notice %></p>

<h1>Apps</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>App name</th>
      <th>Last used</th>
      <th>Total use</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><a href='https://play.google.com/store/apps/details?id=<%= app.app_name %>'><%= app.app_name %></a></td>
        <td><%= format_date app.last_used %></td>
        <td><%= app.total_use %></td>
        <td><%= app.username %></td>
        <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
    <% if @apps.empty? %>
        <td colspan=5><center><em>No entries found</em></center></td>
    <% end %>
  </tbody>
</table>

<br>