<p id="notice"><%= notice %></p>

<h1>Listing Photos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Url</th>
      <th>Width</th>
      <th>Height</th>
      <th>Model</th>
      <th>Lat</th>
      <th>Long</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><a href='<%= photo.url %>'><%= photo.url %></a></td>
        <td><%= photo.width %></td>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
