<%= form_for(@sim) do |f| %>
  <% if @sim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sim.errors.count, "error") %> prohibited this sim from being saved:</h2>

      <ul>
      <% @sim.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_time %><br>
    <%= f.datetime_select :event_time %>
  </div>
  <div class="field">
    <%= f.label :event_type %><br>
    <%= f.text_field :event_type %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
