<p id="notice"><%= notice %></p>

<h1>Sim events</h1>

<table>
  <thead>
    <tr>
      <th>Event time</th>
      <th>Event type</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sims.each do |sim| %>
      <tr>
        <td><%= sim.event_time %></td>
        <td><%= sim.event_type %></td>
        <td><%= sim.username %></td>
        <td><%= link_to 'Show', sim %></td>
        <td><%= link_to 'Edit', edit_sim_path(sim) %></td>
        <td><%= link_to 'Destroy', sim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sim', new_sim_path %>
