<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Event time</th>
      <th>Lat</th>
      <th>Long</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.event_time %></td>
        <td><%= location.lat %></td>
        <td><%= location.long %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>






