<p id="notice"><%= notice %></p>

<h1>Whatsapp Messages</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Wa date</th>
      <th>Wa content</th>
      <th>Wa from</th>
      <th>Username</th>
      <th>Message type</th>
      <th>Stack level</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @whatsapp_messages.each do |whatsapp_message| %>
      <tr>
        <td><%= whatsapp_message.wa_date %></td>
        <td><%= whatsapp_message.wa_content %></td>
        <td><%= whatsapp_message.wa_from %></td>
        <td><%= whatsapp_message.username %></td>
        <td><%= whatsapp_message.message_type %></td>
        <td><%= whatsapp_message.stack_level %></td>
        <td><%= link_to 'Destroy', whatsapp_message, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Whatsapp message', new_whatsapp_message_path %>
